* {
  box-sizing: border-box;
}
body{
  font-family: 'Manrope', sans-serif;
}
.body {
  display: flex;
  flex-flow: column nowrap;
}

/*HEADER*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 0px #e5e9f2;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  width: 100%;
}
.brand--flex {
  flex: 0 1 auto;
}
.brand__link {
  text-decoration: none;
}

/*NAVBAR*/
.nav {
  padding-left: .5em;
  height: 40px;
  color: #18191F;
}
.nav--flex {
  flex: 1 1 auto;
}
.nav__list {
  height: auto;
  margin: 0 0.5em;
  padding: 0;
  display: flex;
}
.nav__item {
  display: inline-block;
  padding: 0.5em 0;
  font-size: 0.875em;
  font-weight: 700;
  color: #18191F;
}
.nav__link {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #000;
  transition: all 1s;
}

/*APP STORE LOGOS*/
.logo-store {
  height: 40px
  margin: 0 4em 0 0;
}
.logo-store__img {
  max-width: 100%;
  height: auto;
  margin: 0 .4em;
}
.logo-store--flex {
  flex: 0 1 auto;
}
.fab--hide {
  display: none;
}

/*MAIN CONTENT*/
.main {
  margin-top: 168px;
  display: flex;
  flex-flow: column nowrap;
  background-color: #fff;
}
/* PRESENTATION SECCION*/
.presentation{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentation__title {
  font-weight: 800;
  font-size: 4.5em;
  line-height: 98px;
  margin-bottom: 32px;
  text-align: center;
}
.presentation__figure {
  display: grid;
  width: 1110px;
  height: 340px;
  margin: 75px 0 0 0;
}
.presentation__bg {
  height: 170px;
  width: 1110px;
  z-index: -1;
  grid-area: 1/1;
  align-self: end;
}
.presentation__image {
  max-width: 100%;
  grid-area: 1/1;
  justify-self: center;
}

/* BUTTON */
.button {
  width: 196px;
  height: 62px;
  background-color: #8C30F5;
  border-radius: 8px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
}

/*BRANDS SECTION*/
.brands {
  margin: 16px 0;
  width: 100%;
  height: 142px;
  display: flex;
  align-items: center;
  top: 15px;
  border-top: 1px solid #D9E0E9;
  border-bottom: 1px solid #D9E0E9;
}
.brands__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}
.brands__items {
  list-style-type: none;
  margin: 0 1em 0 1em;
}

/* FEATURES SECTION*/
.features {
  width: 100%;
  height: 752px;
  display: flex;
}
.features__bg {
  z-index: -1;
  height: 540px;
  position: absolute;
  right: 16px;
}
.features__content {
  width: 100%;
  height: 576px;
  margin-top: 5em;
}
.features__title {
  width: 730px;
  height: 64px;
  font-weight: 800;
  font-size: 3em;
  margin: 0;
}
.features__element {
  width: 100%;
  height: 464px;
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
/* FEATURE ITEMS*/
.feature {
  width: 255px;
  height: 200px;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  background-color: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.feature__title {
  width: 207px;
  height: 64px;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 32px;

}
.feature__img {
  width: 32px;
  height: 32px;
}
/*TESTIMONIAL SECTION*/
.testimonial {
  width: 100%;
  height: 596px;
  background-color: #D5FAFC;
  display: flex;
  justify-content: space-between;
}
.testimonial__content {
  width: 730px;
  height: 262px;
  margin-top: 148px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial__text {
  font-size: 1.125em;
  font-weight: 400;
  line-height: 32px;
  color: #18191F;
}
.testimonial__name {
  position: relative;
  bottom: -25px;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #2EC5CE;
}
.testimonial__position {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #18191F;
}
.testimonial__figure {
  align-self: flex-end;
}

/*STATS SECTION*/
.stats {
  width: 100%;
  height: 376px;
  background-image: url(../img/svg/bgcounter.svg);
}

/*PRODUCT SECTION*/
.product {
  width: 100%;
  height: 668px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__img {
  width: 540px;
  height: 540px;
}
.product__content {
  width: 540px;
  height: 334px;
  padding: 0 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product__position {
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #2EC5CE;
}
.product__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 54px;
  color: #18191F;
}
.product__description {
  width: 440PX;
  height: 160PX;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #18191F;
}
.product__link {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #8C30F5;
  text-decoration: none;
}

/*DOWNLOAD SECTION*/
.download {
  background-color: #D5FAFC;
  width: 100%;
  height: 408px;
  display: flex;
  align-items: center;
}
.download__section {
  width: 100%;
  height: 280px;
  border-radius: 16px;
  background-color: #2EC5CE;
  display: flex;
  padding: 48px 0 48px 48px;
  position: relative;
}
.download__content {
  width: 587px;
  height: 184px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.download__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #18191F;
}
.download__img {
  position: absolute;
}
.img-1 {
  top: 0;
  right: 209px;
}
.img-2 {
  bottom: 0;
  right: 209px;
}
.img-3 {
  top: 0;
  right: 0;
}

/*FOOTER*/
.footer {
  width: 100%;
  height: 393px;
  background-color: #0B0D17;
  display: flex;
  flex-direction: column;
}
.about-us {
  display: flex;
  width: 100%;
  height: 312px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
}
.about-us__info {
  width: 255px;
  border: 1px solid white;
}
.social-foot{
  border-top: 1px solid rgba(255, 255, 255, .1);
  display: flex;
  height: 81px;
  justify-content: space-between;
  align-items: center;
}
.about-us__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #F4F5F7
}

/*MODIFIERS*/
.inner-padding {
  padding: 0 165px;
}
.margin-off {
  margin: 0;
}
.button--white {
  background-color: #fff;
  color: #8C30F5;
}

/* MEDIA QUERYS*/
















