* {
  box-sizing: border-box;
}
.body {
  font-family: 'Manrope', sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*HEADER*/
.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  background-color: #fff;
  box-shadow: 0px 1px 0px #e5e9f2;
  padding: 0 10.3125em;
}
.brand--flex {
  flex: 0 1 auto;
}
.brand__link {
  text-decoration: none;
}
/*NAVBAR*/
.nav {
  padding-left: .5em;
  height: 40px;
  color: #18191F;
}
.nav--flex {
  flex: 1 1 auto;
}
.nav__list {
  height: auto;
  margin: 0 0.5em;
  padding: 0;
  display: flex;
}
.nav__item {
  display: inline-block;
  padding: 0.5em 0;
  font-size: 0.875em;
  font-weight: 700;
  color: #18191F;
}
.nav__link {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #000;
  transition: all 1s;
}

/*APP STORE LOGOS*/
.logo-store {
  height: 40px
  margin: 0 4em 0 0;
}
.logo-store__img {
  max-width: 100%;
  height: auto;
  margin: 0 .4em;
}
.logo-store--flex {
  flex: 0 1 auto;
}
.fab--hide {
  display: none;
}

/*MAIN CONTENT*/

.main {
  padding: 10.5em 10.3125em 0 10.3125em;
  display: flex;
  flex-direction: column;
}
/* PRESENTATION SECCION*/
.presentation{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentation__title {
  font-weight: 800;
  font-size: 4.5em;
  line-height: 98px;
  margin-bottom: 32px;
  text-align: center;
}
.presentation__figure {
  display: grid;
  width: 1110px;
  height: 340px;
  margin: 75px 0 0 0;
}
.presentation__bg {
  height: 170px;
  width: 1110px;
  z-index: -1;
  grid-area: 1/1;
  align-self: end;
}
.presentation__image {
  max-width: 100%;
  grid-area: 1/1;
  justify-self: center;
}

/* BUTTON */
.button {
  width: 196px;
  height: 62px;
  background-color: #8C30F5;
  border-radius: 8px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
}

/*BRANDS SECTION*/
.brands {
  margin: 16px 0;
  width: 100%;
  height: 142px;
  display: flex;
  align-items: center;
  top: 15px;
  border-top: 1px solid #D9E0E9;
  border-bottom: 1px solid #D9E0E9;
}
.brands__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}
.brands__items {
  list-style-type: none;
  margin: 0 1em 0 1em;
}
/* FEATURES SECTION*/
.features {
  width: 100%;
  height: 752px;
  display: flex;
}
.features__bg {
  z-index: -1;
  margin: 0;
  height: 540px;
  position: absolute;
  right: 16px;
}
.features__content {
  width: 69.375em;
  height: 576px;
  margin-top: 5em;
}
.features__title {
  width: 730px;
  height: 64px;
  font-weight: 800;
  font-size: 3em;
  margin: 0;
}
.features__element {
  width: 100%;
  height: 464px;
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
/* FEATURE ITEMS*/
.feature {
  width: 255px;
  height: 200px;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  background-color: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.feature__title {
  width: 207px;
  height: 64px;
  font-size: 1.5em;
  margin: 0px;
  font-weight: 500;
  line-height: 32px;

}
.feature__img {
  width: 32px;
  height: 32px;
}
/*TESTIMONIAL SECTION*/























/*FOOTER*/
.footer {
  padding: 0 4em;
}


/* MEDIA QUERYS*/
@media all and (max-width: 1405px){
  .features {height: 850px;}
  .features__content{height: auto;}
  .features__element{height: auto;}
  .feature{
    width: auto;
    height: 180px;
    margin: 1em;
  }
}
@media all and (max-width: 1200px){
  .header {padding: 0 6.25em;}
  .main {padding: 10.5em 6.25em 0 6.25em;}
}
@media all and (max-width: 1045px){
  .logo-store__img {
    width: 101px;
    height: 30px;
  }
}
@media all and (max-width: 971px){
  .logo-store__img {
    width: 68px;
    height: 20px;
  }
  .brands__list {
  align-items: center;
  flex: 2 1 auto;
  }
}
@media all and (max-width: 905px){
  .logo-store__img {display: none;}
  .fab--hide {display: inline-block;}
}

















