* {
  box-sizing: border-box;
}
.body {
  font-family: 'Manrope', sans-serif;
  min-height: 100vh;
  width: 100%;
}

/*HEADER*/
.header {
  background-color: #fff;
  box-shadow: 0px 1px 0px #e5e9f2;
  padding: 0 10.3125em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;
}
.brand__link {
  text-decoration: none;
}
/*NAVBAR*/
.nav {
  color: #18191F;
  display: flex;
  justify-content: space-between;
  left: 6em;
  width: 90%;
  height: 40px;
}
.nav__list {
  margin: 0 0.5em;
  display: inline-block;
  padding: 0;
  position: relative;
  height: auto;
}
.nav__item {
  color: #18191F;
  display: inline-block;
  padding: 0.5em 0;
  font-size: 0.875em;
  font-weight: 700;
}
.nav__link {
  color: #000;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: all 1s;
}

/*APP STORE LOGOS*/
.logo-store {
  height: 40px
  margin: 0 4em 0 0;
}
.logo-store__img {
  max-width: 100%;
  height: auto;
  margin: 0 .4em;
}

/*MAIN CONTENT*/

.main {
  padding: 10.5em 10.3125em 0 10.3125em;
}
/* PRESENTATION SECCION*/
.presentation{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentation__title {
  font-weight: 800;
  font-size: 4.5em;
  line-height: 98px;
  margin-bottom: 32px;
  text-align: center;
}
.presentation__figure {
  /*utilizar grid*/
  display: flex;
  align-items: baseline;
  height: 340px;
  margin: 75px 0 0 0;
}
.presentation__bg {
  height: 170px;
  max-width: 100%;
  z-index: -1;
}
.presentation__image {
  max-width: 100%;
  position: relative;
  right: 715px;
  z-index: -1;
}

/* BUTTON */
.button {
  width: 196px;
  height: 62px;
  background-color: #8C30F5;
  border-radius: 8px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
}

/*BRANDS SECTION*/
.brands {
  margin: 16px 0;
  width: 100%;
  height: 142px;
  display: flex;
  align-items: center;
  top: 15px;
  border-top: 1px solid #D9E0E9;
  border-bottom: 1px solid #D9E0E9;
}
.brands__list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
  padding: 0;
}
.brands__items {
  list-style-type: none;
}
/* FEATURES SECTION*/
.features {
  padding: 3em 1em 6em 10.3125em;
}
.features__section {
  display: flex;
  width: 100%;
  height: 752px;
}
.features__bg {
  z-index: -1;
  margin: 0;
  height: 540px;
  position: absolute;
  right: 16px;
}
.features__content {
  width: 69.375em;
  height: 576px;
  margin-top: 2em;
}
.features__title {
  width: 730px;
  height: 64px;
  font-weight: 800;
  font-size: 3em;
  margin: 0;
}
.features__element {
  width: 1110px;
  height: 464px;
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
/* FEATURE ITEMS*/
.feature {
  width: 255px;
  height: 200px;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  background-color: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.feature__title {
  width: 207px;
  height: 64px;
  font-size: 1.5em;
  margin: 0px;
  font-weight: 500;
  line-height: 32px;

}
.feature__img {
  width: 32px;
  height: 32px;
}
























/*FOOTER*/
.footer {
  padding: 0 4em;
}



